In [1]:
import matplotlib.pyplot as plt
import numpy as np
from tqdm import tqdm_notebook as tqdm

from psych_metric.datasets.aflw.dataset import FirstImpressionsSparse, FirstImpressionsDense

In [2]:
ds = FirstImpressionsDense(stage='test', augment=False, numpy=False)
# print('Dataset Size: {}'.format(len(ds)))
# for i in range(2):
#     r = ds[i]
#     ds.display(i)
#     plt.show()
ds.df.head(2)

,face_id,file_id,x,y,w,h,ex,ey,ra,rb,...,IQ_raw,Trustworthiness_num,Dominance_num,Age_num,IQ_num,split,Trustworthiness_hist,Dominance_hist,Age_hist,IQ_hist
17799,58221,image11934.jpg,271.0,63.0,34.0,34.0,288.761597,76.073875,20.300640,14.406905,...,"[3, 4, 6, 6, 6, 7, 4, 4, 6, 5, 5]",24,21,20,11,test,"[3, 4, 5, 7, 3, 2, 0]","[0, 1, 2, 3, 6, 3, 6]","[0, 0, 0, 2, 9, 9, 0]","[0, 0, 1, 3, 2, 4, 1]"
11660,51624,image42072.jpg,712.0,677.0,1474.0,1474.0,1628.545044,1188.302246,837.713501,594.506348,...,"[5, 4, 7, 4, 6, 4, 4, 4, 4, 1, 2, 5, 6, 2, 5, 4]",22,31,16,16,test,"[3, 2, 0, 8, 2, 4, 3]","[6, 9, 5, 4, 2, 5, 0]","[5, 10, 1, 0, 0, 0, 0]","[1, 2, 0, 7, 3, 2, 1]"

In [3]:
ds = FirstImpressionsSparse(dataset='trustworthiness')
ds.df.head(2)

,Unnamed: 0,sitting_id,trial,duration,start_time,rt,src,type,rating,response,norm_response,diff
0,0,619156,1,244,2014-05-01 09:57:09,1751,images/practice/im1.png,trustworthy,0.5,4,0.500000,0.000000
1,2,619156,3,244,2014-05-01 09:57:09,1120,images/practice/im3.png,trustworthy,0.5,5,0.666667,-0.166667